<div class="container" align="center" style="max-width:400px;padding-top:10px">
	Apakah Anda yakin menghapus tipe transaksi <%= @ttype.ttype_name %> ?<br><br>
	<%= link_to "Hapus", trans_type_path(@ttype), method: :delete, remote:true , class: "btn btn-danger btn-sm" %>&nbsp;&nbsp;&nbsp;
	<%= link_to "Batal", "#", class: "btn btn-default", data: {dismiss: "modal"} %><br><br>
</div>