<table id="lap_ask" class="table table-hover">
	<thead>
		<th>Apotek Yang Dituju</th>
		<th>
			Jumlah Dropping
			<%= link_to 'Cetak Laporan', print_report_ask_transaksis_path({sender: @sender, month: @month, year: @year}, format: 'pdf'), class: "btn btn-sm btn-success", target: '_blank' %><br/>
		</th>
	</thead>
	<tbody>
		<% @cek.each do |cek| %>
		<tr>
			<td><%= apotek(cek) %></td>
			<td><%= to_rupiah(total_minta(cek)) %></td>
		</tr>
		<% end %>
	</tbody>
</table>