<div class="alert alert-danger fade in" id="notice" hidden>
  <a href="#" class="close" data-dismiss="alert" aria-label="close" id="close">&times;</a>
</div>
<div class="row" align="center">
	<h3>Laporan Permintaan Obat</h3>
</div>
<div class="row" style="max-width: 600px;margin-top: 30px">
	<%= render 'transaksis/form_lap_ask' %>
</div>
<div class="row" hidden="true" id="table_lap_ask"></div>