<% @raciks.each do |racik| %>
  <tr>
  	<td><%= racik.racik_name %></td>
    <td><%= link_to 'Hapus', del_racik_path(racik), class: "btn btn-danger btn-sm", remote: true, html:{style: "color:#FFFFFF"} %></td>
  </tr>
<% end %>